<div class="main-content">
  <div class="tab-container">
    <app-tab-bar [tabs]="tabs" (tabSelected)="onTabSelected($event)"></app-tab-bar>
    <div class="tab-content">
      <div *ngIf="selectOption === '/documents/oc'">
        <ng-container *ngTemplateOutlet="ordenCompra"></ng-container>
      </div>
      <div *ngIf="selectOption === '/documents/fc'">
        <ng-container *ngTemplateOutlet="facturaCompra"></ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #ordenCompra>
<app-orden-compra></app-orden-compra>

</ng-template>

<ng-template #facturaCompra>
  <app-factura-compra></app-factura-compra>
</ng-template>

