@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

.mat-card-title {
  font-size: 1.5rem;
  color: #3f51b5;
  text-align: center;
}

.responsive-table-container {
  width: 100%;
  overflow-x: auto;
}



.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.full-width-table {
  width: 100%;
  overflow: auto;
}

.mat-elevation-z8 {
  padding: 16px;
}

mat-icon {
  font-size: 1em;
}

.titulo {
  font-family: "Kanit", sans-serif;
  padding: 16px;
}

.font-test {
  font-family: "Courier Prime", monospace;
  font-weight: 500;
  font-style: normal;
}

.font-cabecera {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  font-style: normal;
}
