<mat-card>
  <mat-card-title class="titulo">Productos</mat-card-title>
  <div class="mat-elevation-z8">
   <div class="responsive-table-container">
    <table mat-table [dataSource]="dataSource" matSort class="full-width-table">

      <!-- Columns Definition -->
      <ng-container matColumnDef="code">
        <th class="font-cabecera" mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </th>
        <td class="font-test" mat-cell *matCellDef="let product"> {{product.code}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th class="font-cabecera" mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td class="font-test" mat-cell *matCellDef="let product"> {{product.name}} </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th class="font-cabecera" mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
        <td class="font-test" mat-cell *matCellDef="let product"> {{product.category}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th class="font-cabecera" mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
        <td class="font-test" mat-cell *matCellDef="let product"> {{product.type}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th class="font-cabecera" mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
        <td class="font-test" mat-cell *matCellDef="let product"> {{product.price | currency:'PEN ':'symbol':'1.2-2'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="concentracion">
        <th class="font-cabecera" mat-header-cell *matHeaderCellDef mat-sort-header> Concentracion </th>
        <td class="font-test" mat-cell *matCellDef="let product"> {{product.concentracion}} </td>
      </ng-container>

      <ng-container matColumnDef="presentation">
        <th class="font-cabecera" mat-header-cell *matHeaderCellDef mat-sort-header> Presentation </th>
        <td class="font-test" mat-cell *matCellDef="let product"> {{product.presentation}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th class="font-cabecera" mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
        <td class="font-test" mat-cell *matCellDef="let product"> {{product.description}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th class="font-cabecera" mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let product">
          <button mat-icon-button color="primary" (click)="showLots(product)">
            <mat-icon>view_list</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Header and Row Declarations -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

   </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</mat-card>
